<h1>My page</h1>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Profile</h4>
    <p class="card-text">
      Username:  {{locals.username}}<br>
      Date of birth: {{locals.dob}}<br>
      My ratings count: {{locals.data.[0].[0].my_ratings_count}} movies<br>
      Total watch time: {{locals.data.[1].[0].watch_time_sum}} minutes
    </p>
  </div>
</div><br>

<h1><span class="far fa-list-alt"></span>
    My top 10 directors</h1>

<h6>Gets the top 10 directors by average movie rating of a specific viewer</h6>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Director</th>
            <th>My Average Rating</th>
            <th class="text-left">Ratings Count</th>
        </tr>
    </thead>
    <tbody>
        {{#if locals.data.[2].length }}
        {{#each locals.data.[2]}}
        <tr>
            <td class="w-10">{{this.director_name}}</td>
            <td class="w-20">{{this.my_dir_rating}}</td>
            <td class="w-70">{{this.ratings_count}}</td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
            <td colspan="3" class="text-center text-danger">
                No movies to display.
            </td>
        </tr>
        {{/if}}
    </tbody>
</table><br>

<h1><span class="far fa-list-alt"></span>
    My top 10 actors</h1>

<h6>Gets the top 10 actors by average movie rating of a specific viewer</h6>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Actor</th>
            <th>My Average Rating</th>
            <th class="text-left">Ratings Count</th>
        </tr>
    </thead>
    <tbody>
        {{#if locals.data.[3].length }}
        {{#each locals.data.[3]}}
        <tr>
            <td class="w-10">{{this.actor_name}}</td>
            <td class="w-20">{{this.my_act_rating}}</td>
            <td class="w-70">{{this.ratings_count}}</td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
            <td colspan="3" class="text-center text-danger">
                No movies to display.
            </td>
        </tr>
        {{/if}}
    </tbody>
</table><br>